<link rel="stylesheet" type="text/css" href="../base.css">

<div class="board">
  <div class="toolbar break-top top-chrome">
    <div class="score kick-right">
      <span class="a11y-only" id="score2">Score</span>
      <strong aria-labelledby="score2" aria-live="polite">2,000,000</strong>
    </div>
  </div>
  <div class="play-area">
    <div class="clamp">
    </div>
  </div>
  <div class="toolbar break-bottom bottom-chrome">
    <div class="kick-left">
      <button class="btn">Text</button>
      <button class="btn">Text</button>
      <button class="btn">Text</button>
    </div>
    <div class="kick-right theme-light">
      <button class="btn">Text</button>
      <button class="btn">Text</button>
      <button class="btn">Text</button>
    </div>
    <div class="theme-dark">
      <button class="btn">Text</button>
      <button class="btn">Text</button>
      <button class="btn">Text</button>
    </div>
  </div>
</div>